* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

body,
#main-div,
#hangman-image-div,
#key-stroke-div,
#random-word,
#hint-div,
#incorrect-guess-div,
#all-keys-btn-div,
.keys-btn,
#game_result_inner_div {
    display: flex;
}

#game_result_inner_div,
#key-stroke-div,
#all-keys-btn-div,
#hangman-image-div {
    flex-direction: column;
}

body,
#hangman-image-div,
#game_result_outer_div,
#game_result_inner_div {
    justify-content: center;
    align-items: center;
}

#hangman-image-div,
#random-word,
#hint-div,
#incorrect-guess-div,
.keys-btn {
    justify-content: center;
}

#random-word,
#all-keys-btn-div,
#hangman-image-div {
    gap: 1em;
}

#overlay,
#game_result_outer_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#game_result_inner_div>p,
.keys-btn>button {
    font-weight: bold;
}

body,
#game_result_reset_btn,
.keys-btn>button {
    background-color: #5e63ba;
}

#game_result_inner_div,
#main-div {
    background-color: white;
}

.keys-btn>button,
#game_result_reset_btn {
    cursor: pointer;
}

#game_result_reset_btn,
.keys-btn>button {
    color: white;
}

#game_result_inner_div,
#game_result_reset_btn,
#main-div,
.keys-btn>button {
    border-radius: .2em;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

#game_result_outer_div {
    padding: 1em;
}

#game_result_inner_div {
    padding: 1.5em;
    gap: 1.5em;
    letter-spacing: .1em;
}

#game_result_inner_div>img {
    width: 30%;
}

#game_result_reset_btn {
    padding: 1em;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 75%;
}

#main-div {
    padding: 2em 1.5em;
    justify-content: space-around;
    width: 100%;
    gap: 2em;
}

#hangman-image-div {
    padding: 1em 0;
}

#hangman-image-div>img {
    width: 100%;
}

#hangman-image-div>h2 {
    font-weight: normal;
    letter-spacing: .2em;
    text-align: center;
}

#key-stroke-div {
    padding: 1em 0;
    flex: 1;
    justify-content: space-evenly;
    gap: 2em;
}

#hint-div>p {
    text-align: center;
    letter-spacing: .1em;
}

#incorrect-guess-div>p {
    letter-spacing: .09em;
}

#incorrect-guess-div>p>span {
    color: red;
}

#all-keys-btn-div {
    align-items: center;
}

.keys-btn {
    width: 100%;
    align-items: stretch;
    gap: .7em;
}

.keys-btn>button {
    transition: background .3s;
    width: 2em;
    padding: 5px 0;
    font-size: .9em;
}

.keys-btn>button:hover {
    background-color: #9da1e9;
}

@media screen and (max-width: 868px) {
    #game_result_remark {
        font-size: .8em;
    }

    main {
        width: 95%;
    }

    #hangman-image-div {
        flex-direction: column-reverse;
    }

    #main-div {
        flex-direction: column;
    }

    #hangman-image-div {
        gap: 2em;
    }


    #hangman-image-div>img {
        width: 50%;
    }

    #key-stroke-div {
        gap: 2em;
    }

    #random-word {
        gap: .2em;
    }

    .char-div {
        padding: .7em !important;
    }

    .keys-btn {
        gap: .5em
    }

    .keys-btn>button {
        font-size: .7em;
    }
}